*.log
*.pot
*.pyc
/.tox/
/.coverage
/tests/test_project/host_settings.py
build/
dist/
django_advanced_filters.egg-info/
tests/db.sqlite*
/.python-version
/.cache/
/.eggs/
/htmlcov/
/advanced_filters/.coverage
.DS_Store
.pytest_cache
/tests/local.db
/.venv
