language: python
sudo: false
language: python
cache: pip
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy3"

env:
  matrix:
    - DJANGO="1.9"
    - DJANGO="1.10"
    - DJANGO="1.11"
    - DJANGO="2.0"
    - DJANGO="2.1"
    - DJANGO="2.2"
    - DJANGO="3.0"

install: pip install tox-travis coveralls
script: tox
after_success:
  coveralls
